<body>
    
    <header class="header">

        <div class="menu container">
            <a href="#" class="logo"></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../../assets/menu.png" class="menu-icono" alt="">
            </label>
        </div>

        <div class="header-content container">

            <h1>Destinos</h1>
            <p>Destinos es una agencia de viajes que se dedica profesional y comercialmente en exclusiva al ejercicio de mediación 
                y/u organización de servicios turísticos, pudiendo utilizar medios propios en la prestación de los mismos, garantizando
                 al cliente una experiencia amena y eficaz con transacciones seguras y minuciosas a la hora de reservar su destino.
            </p>
            <a href="#" class="btn-1">Informacion</a>

        </div>

    </header>

    <section class="destinos">

        <div class="destinos-content container">

            <h2>Caracteristicas Del Negocio</h2>
            
            <div class="destinos-group">

                <div class="destinos-1">
                    <img src="../../assets/c1.png" alt="">
                    <h3>Formas de pago:</h3>
                    <p>
                        Paga tu viaje con cualquier medio de pago, efectivo o transferencia bancaria. 
                    </p>
                </div>
                <div class="destinos-1">
                    <img src="../../assets/c2.png" alt="">
                    <h3> Atención personalizada:</h3>
                    <p>
                        Ofrecemos atención de profesionales expertos en <br> 
                        viaje vía Telefónica, online y sucursales.
                    </p>
                </div>
                <div class="destinos-1">
                    <img src="../../assets/c3.png" alt="">
                    <h3>Soporte en todo momento:</h3>
                    <p>
                        Te acompañamos antes, durante y después del viaje.<br>
                        Creamos y damos acceso a experiencias de viaje
                         inolvidables de principio a fin.
                    </p>
                </div>

            </div>
            <a href="#" class="btn-1">Informacion</a>

        </div>

    </section>

    <section class="general">

        <div class="general-1">
            <h2>Misión</h2>
            <p>
                Llegar a ser una agencia de viajes reconocida a nivel nacional por su excelencia, confianza y seguridad.
            </p>
            <a href="#" class="btn-1">Informacion</a>
        </div>
        <div class="general-2"></div>

    </section>

    <section class="general">

        <div class="general-3"></div>

        <div class="general-1">
            <h2>Visión</h2>
            <p>
                Priorizar las necesidades de nuestros viajeros para convertirnos en su primera opción.
            </p>
            <a href="#" class="btn-1">Informacion</a>
        </div>
        
    </section>

    <section class="blog container">

        <h2>Ofertas De Viajes</h2>

        <br>

        <div class="blog-content">

            <div class="blog-1">
                <img src="https://b2450656.smushcdn.com/2450656/wp-content/uploads/2023/03/Vieje-a-Peru-min.jpg?lossy=1&strip=1&webp=1g" alt="">
                <h3>¡Oferta Insuperable!</h3>
                <br>
                <a href="#" class="btn-1">Informacion</a>
            </div>

            <div class="blog-1">
                <img src="https://b2450656.smushcdn.com/2450656/wp-content/uploads/2023/03/Vieje-a-Peru5-min.jpg?lossy=1&strip=1&webp=1" alt="">
                <h3>¡Viaje A Perú 2x1!</h3>
                <br>
                <a href="#" class="btn-1">Informacion</a>
            </div>

            <div class="blog-1">
                <img src="https://b2450656.smushcdn.com/2450656/wp-content/uploads/2023/03/Vieje-a-Peru-1-min.jpg?lossy=1&strip=1&webp=1" alt="">
                <h3>¡2x1 a Perú!</h3>
                <br>
                <a href="#" class="btn-1">Informacion</a>
            </div>

        </div>

        <br>

    </section>

    <footer class="footer">
        
        <div class="footer-content container">

            <div class="link">

                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>

            </div>

            <div class="link">

                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
                
            </div>

            <div class="link">

                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
                
            </div>

            <div class="link">

                <h3>lorem</h3>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
                
            </div>

        </div>

    </footer>

</body>

